# Dependencies
node_modules/

tmp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables (VERY IMPORTANT)
.env
.env.local

# Operating system / IDE
.DS_Store
.vscode/
.idea/

todo